asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
Django==5.1.2
django-jazzmin==3.0.1
idna==3.10
pip install mysqlclient==2.2.4
pip install pillow==10.4.0
pip install requests==2.32.3
pip install sqlparse==0.5.1
pip install tzdata==2024.2
pip install urllib3==2.2.3
